@import "node_modules/normalize.less/normalize.less";
@import "imports/_var";
@import "imports/_mixins";

body {
  //@font-face {
  //  .font-montserrat;
  //}
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

//Uniq Styles
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.side-button {
  position: fixed;
  right: 0.5em;
  bottom: 1em;
  width: 55px;
  height: 55px;
  padding: 5px;
  font-size: 25px;
  line-height: 55px;
  color: @text-black;
  text-align: center;
  border-radius: 50%;
  background-color: @bg-light;
  z-index: 5;
  transition: all .4s ease;

  &:hover {
    background-color: @text-black;
    color: @bg-light;
  }
}

.button {
  display: block;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: all ease 0.4s;
}

.delivery-button {
  background-color: @green-accent;
  padding: @gutter @gutter-dbl;
  color: @text-light;
  font-weight: 600;

  &:hover {
    background-color: darken(@green-accent, 4%);
  }
}

.section {
  margin-bottom: 65px;
}

.section-title {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: @gutter;
}

//Parallax
.parallax {
  overflow-x: hidden;
  overflow-y: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;
    transform-origin: center;
    transition: transform .4s linear;
    transform: perspective(900px) rotateX(-7deg) scale(1.1);
    //need to add bg-img for sections where it used
  }

}

//Logo
.company-logo {
  padding: @gutter-dbl @gutter @gutter @gutter;
  width: 150px;

  .logo-link {
    color: @text-black;
    text-decoration: none;
    transition: color ease .4s;

    &:hover {
      color: @green-accent;
    }
  }

}

//Header
.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -12vh;
  left: 0;
  width: 100vw;
  height: 8vh;
  background-color: @bg-light;
  box-shadow: 0 1px 5px 0 rgba(82, 82, 82, 1);
  transition: top .3s ease;
  z-index: 5;

  &-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    height: 70px;
  }

  &-nav {

    &-list {
      list-style: none;

      &-item {
        display: inline-block;
      }

      &-link {
        padding: @gutter calc(@gutter + 10px);
        color: @text-black;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        transition: color ease .4s;

        &:hover {
          color: @green-accent;
        }
      }
    }
  }

  &-delivery {
    margin-right: @gutter;
  }
}

//Section intro
.intro {
  position: relative;
  height: 100vh;
  grid-template-columns: 1fr 2fr;

  &:before {
    //bg-img for parallax
    background-image: url('../images/dest/intro.webp')
  }

  &-content {
    position: relative;
    padding: @gutter 0 0 calc(@gutter + 45px);
    height: 100%;
    grid-template-rows: 0.7fr 2.3fr;
  }

  &-logo {
    width: 50%;
    margin-top: @gutter;
  }

  &-title {
    font-size: 4em;
    line-height: 1.1;
    margin-top: @gutter-dbl;
  }

  &-text {
    font-size: 1.5em;
  }

  &-button {
    padding: @gutter calc(@gutter + 20px);
    margin-top: 3em;
    margin-bottom: 3em;
    width: 80%;
    font-size: 1.5em;
    font-weight: 600;
    color: @text-light;
    background-color: @green-accent;

    &:hover {
      background-color: darken(@green-accent, 4%);
      color: darken(@text-light, 3%);
    }
  }
}

//About Section
.about {
  grid-template-columns: 1fr 1fr;

  &-image {
    position: relative;
    overflow: hidden;
    margin: @gutter;
    height: 480px;
    border-radius: 15px;

    img {
      width: 100%;
    }
  }

  &-content {
    grid-column: 2;
    align-items: center;
    padding: @gutter @gutter-dbl;
  }
}

//Products Section
.products {
  grid-template-rows: 0.7fr 2.3fr;

  &-text {
    padding: @gutter @gutter-dbl;
    text-align: center;
    align-items: center;
  }

  &-content {
    grid-template-columns: 0.8fr 2.2fr;
    padding: @gutter 0;

    .cat-tab {
      display: none;
    }

    .products-content-categories-button.is-active {
      color: @green-accent;
      font-weight: 600;
      border-left: 3px solid @green-accent;
    }

    .cat-tab.is-active {
      display: flex;
    }

    &-categories {
      display: flex;
      flex-direction: column;

      &::-webkit-scrollbar {
        width: 0;
      }

      &-button {
        position: relative;
        background-color: transparent;
        border: none;
        padding: 0 @gutter-dbl;
        max-width: 90%;
        cursor: pointer;
        vertical-align: middle;
        font-size: 1.2em;
        height: 3em;
        text-align: left;
        outline: none;
        transition: color .5s ease;

      }
    }

    &-list {
      min-width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;

      &-item {
        position: relative;
        width: 230px;
        margin-right: @gutter-dbl;

        &-img {
          height: 375px;
          border-radius: 15px;
          overflow: hidden;

          img {
            height: 100%;
          }
        }

        &-label {
          text-align: center;
          padding: @gutter;
        }
      }

      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
}

//Brands Section
.brands {
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  &-title {
    text-align: center;
    color: @text-light;
  }

  &-text {
    text-align: center;
    color: @text-light;
    font-size: 1.5em;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: @bg-dark;
    opacity: .54;
  }

  &-content {
    z-index: 2;
    margin-top: calc(@gutter * 4);
  }

  &-list {
    grid-template-columns: repeat(3, 1fr);
    padding: @gutter;
    margin-bottom: @gutter-dbl;

    &-item {
      text-align: center;
      align-self: center;

      &-logo {
        max-width: 200px;
        filter: brightness(0) invert(1);
      }
    }

  }
}

//Stores Map Section
.stores {
  &-container {
    grid-template-columns: 1fr 1fr;
  }

  &-map {
    margin: @gutter;
  }

  &-text {
    align-items: center;
    padding: @gutter @gutter-dbl;

    &-sub-title {
      font-size: 1.6em;
      margin-bottom: @gutter;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    &-tel {
      display: inline-block;
      font-size: 1.2em;
      color: @green-accent;
      text-decoration: none;
      cursor: pointer;


      &:hover {
        color: darken(@green-accent, 4%);
      }
    }
  }
}

//Product Way section
.way {
  position: relative;
  text-align: center;

  &-separator {
    position: absolute;
    content: "";
    top: 35%;
    width: 100%;
    height: 1px;
    z-index: -1;
    border-bottom: 2px dashed @green-accent;
  }

  &-title {
    margin-bottom: @gutter-dbl;
  }

  &-container {
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: @gutter-dbl;
    width: 992px;
    margin: 0 auto;

    &:before {
      content: "";
      position: absolute;
      top: 25%;
      left: -85px;
      height: 50px;
      width: 80px;
      background-image: url('../images/dest/logo.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    &:after {
      content: "\f004";
      position: absolute;
      top: 28%;
      right: -60px;
      height: 50px;
      width: 80px;
      color: @green-accent;
      font-family: "Font Awesome 5 Free";
      font-size: 2em;
    }
  }

  &-item {

    &-img {
      justify-self: center;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      background-position: center;
      transition: transform .3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

//Footer
.footer {
  background-color: @bg-light;
  color: @text-light;

  &-container {
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  &-rights {
    text-align: center;
    background-color: @text-black;
    padding: @gutter 0;
  }
}

//Social Links
.social-links {
  &-list {
    list-style: none;
    padding-left: 0;

    &-item {
      display: inline-block;

      a {
        font-size: 1.5em;
        color: @text-black;
        text-decoration: none;
        padding: 0.5em;
        cursor: pointer;

        &:hover {
          color: lighten(@text-black, 20%);
        }
      }
    }
  }
}

//Modal window
.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  transition: transform .4s ease;
  background-color: white;
  padding: 8rem 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  &-content {
    max-height: 90vh;
    overflow-y: scroll;
  }

  &-social {
    position: absolute;
    top: 1.2rem;
    left: 2rem;
    font-size: 1.5rem;
  }

  .close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 4rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.viber {
  a {
    color: @brand-viber;
    &:hover {
      color: darken(@brand-viber, 10%);
    }
  }
}

.telegram {
  a {
    color: @brand-telegram;
    &:hover {
      color: darken(@brand-telegram, 10%);
    }
  }
}

.whatsapp {
  a {
    color: @brand-whatsapp;
    &:hover {
      color: darken(@brand-whatsapp, 10%);
    }
  }
}


@import "imports/_media";